<footer class="footer mt-auto">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Company</h4>
                        <ul class="footer-link-list">
                            <li><a href="about_us.html" class="footer-link">About Us</a></li>
                            <li><a href="help_center.html" class="footer-link">Help Center</a></li>
                            <li><a href="faq.html" class="footer-link">FAQ</a></li>
                            <li><a href="contact_us.html" class="footer-link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Useful Links</h4>
                        <ul class="footer-link-list">
                            <li><a href="create.html" class="footer-link">Create Event</a></li>
                            <li><a href="sell_tickets_online.html" class="footer-link">Sell Tickets Online</a></li>
                            <li><a href="privacy_policy.html" class="footer-link">Privacy Policy</a></li>
                            <li><a href="term_and_conditions.html" class="footer-link">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Resources</h4>
                        <ul class="footer-link-list">
                            <li><a href="pricing.html" class="footer-link">Pricing</a></li>
                            <li><a href="our_blog.html" class="footer-link">Blog</a></li>
                            <li><a href="refer_a_friend.html" class="footer-link">Refer a Friend</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4>Follow Us</h4>
                        <ul class="social-links">
                            <li><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                            <li><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                            <li><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                            <li><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
                            <li><a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h4>Download Mobile App</h4>
                        <div class="download-app-link">
                            <a href="#" class="download-btn"><img src="../../assets/images/app-store.png" alt=""></a>
                            <a href="#" class="download-btn"><img src="../../assets/images/google-play.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-copyright-text">
                        <p class="mb-0">© 2022, <strong>Barren</strong>. All rights reserved. Powered by
                            Gambolthemes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>