<app-navbar></app-navbar>


<div class="event-dt-block p-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="error-404-content text-center">
                    <h2>404</h2>
                    <h4>Opps! Page not found</h4>
                    <p>Seems you're looking for something that doesn't exist. If you think this is a problem
                        with us, please tell us .</p>
                    <a routerLink="/home" class="main-btn btn-hover h_50"><i class="fa-solid fa-house me-3"></i>Back to
                        home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>