<header class="header">
    <div class="header-inner">
        <nav class="navbar navbar-expand-lg bg-barren barren-head navbar fixed-top justify-content-sm-start pt-0 pb-0">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon">
                        <i class="fa-solid fa-bars"></i>
                    </span>
                </button>
                <a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 me-auto" href="index-2.html">
                    <div class="res-main-logo">
                        <img src="../../assets/images/logo-icon.svg" alt="">
                    </div>
                    <div class="main-logo" id="logo">
                        <img src="../../assets/images/logo.svg" alt="">
                        <img class="logo-inverse" src="../../assets/images/dark-logo.svg" alt="">
                    </div>
                </a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <div class="offcanvas-logo" id="offcanvasNavbarLabel">
                            <img src="../../assets/images/logo-icon.svg" alt="">
                        </div>
                        <button type="button" class="close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="offcanvas-top-area">
                            <div *ngIf="role=='organizer'" class="create-bg">
                                <a routerLink="/createevent" class="offcanvas-create-btn">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>Create Event</span>
                                </a>
                            </div>
                        </div>
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe_5">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="/aboutus">About us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Explore Events
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li><a class="dropdown-item" routerLink="/events">Explore Events</a></li>
                                    <li><a class="dropdown-item" href="venue_event_detail_view.html">Venue Event
                                            Detail View</a></li>
                                    <li><a class="dropdown-item" href="online_event_detail_view.html">Online Event
                                            Detail View</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="/bookedevents">My Booked Events</a>
                            </li>

                            <li *ngIf="role=='organizer'" class="nav-item">
                                <a class="nav-link" routerLink="/yourevents">Your Events</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="/contact">Contact</a>
                            </li>


                        </ul>
                    </div>
                    <div class="offcanvas-footer">
                        <div class="offcanvas-social">
                            <h5>Follow Us</h5>
                            <ul class="social-links">
                                <li><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                                <li><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                                <li><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                                <li><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
                                <li><a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-header order-2">
                    <ul class="align-self-stretch">
                        <li *ngIf="role=='organizer'">
                            <a routerLink="/createevent" class="create-btn btn-hover">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>Create Event</span>
                            </a>
                        </li>
                        <li *ngIf="token==null">
                            <a routerLink="/signin" class="create-btn btn-hover">
                                <i class="fa fa-sign-in"></i>
                                <span>Sign In</span>
                            </a>
                        </li>
                        <li *ngIf="token==null">
                            <a routerLink="/signup" class="create-btn btn-hover">
                                <i class="fa fa-user-plus"></i>
                                <span>Sign Up</span>
                            </a>
                        </li>
                        <li *ngIf="token!=null" class="dropdown account-dropdown">
                            <a href="#" class="account-link" role="button" id="accountClick"
                                data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../assets/images/profile-imgs/img-13.jpg" alt="">
                                <i class="fas fa-caret-down arrow-icon"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-account dropdown-menu-end"
                                aria-labelledby="accountClick">
                                <li>
                                    <div class="dropdown-account-header">
                                        <div class="account-holder-avatar">
                                            <img src="../../assets/images/profile-imgs/img-13.jpg" alt="">
                                        </div>
                                        <h5>{{user.firstName}} {{user.lastName}}</h5>
                                        <p><a>{{user.email}}</a>
                                        </p>
                                    </div>
                                </li>
                                <li class="profile-link">
                                    <a class="link-item">My Profile</a>
                                    <a (click)="Logout()" class="link-item">Sign Out</a>
                                </li>
                            </ul>
                        </li>
                        <li style="display: none;">
                            <div class="night_mode_switch__btn">
                                <div id="night-mode" class="fas fa-moon fa-sun"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="overlay"></div>
    </div>
</header>