<app-navbar></app-navbar>


<div class="wrapper">
    <div class="hero-banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-10">
                    <div class="hero-banner-content">
                        <h2>The Easiest and Most Powerful Online Event Booking and Ticketing System</h2>
                        <p>Barren is an all-in-one event ticketing platform for event organisers, promoters, and
                            managers. Easily create, promote and manage your events of any type and size.</p>
                        <a *ngIf="role=='organizer'||token==null" routerLink="/createevent" class="main-btn btn-hover"
                            (click)="createEvent()">Create Event
                            <i class="fa-solid fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="explore-events p-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="main-title">
                        <h3>Explore Events</h3>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="event-filter-items">
                        <div class="featured-controls">

                            <div class="controls">
                                <button type="button" class="control" data-filter="all">All</button>
                                <button type="button" class="control" data-filter=".arts">Arts</button>
                                <button type="button" class="control" data-filter=".business">Business</button>
                                <button type="button" class="control" data-filter=".concert">Concert</button>
                                <button type="button" class="control" data-filter=".workshops">Workshops</button>
                                <button type="button" class="control" data-filter=".coaching_consulting">Coaching
                                    and Consulting</button>
                                <button type="button" class="control" data-filter=".health_Wellness">Health and
                                    Wellbeing</button>
                                <button type="button" class="control" data-filter=".volunteer">Volunteer</button>
                                <button type="button" class="control" data-filter=".sports">Sports</button>
                                <button type="button" class="control" data-filter=".free">Free</button>
                            </div>
                            <div class="row" data-ref="event-filter-content">
                                <div *ngFor="let event of lstEvents"
                                    class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness"
                                    data-ref="mixitup-target">
                                    <div class="main-card mt-4">
                                        <div class="event-thumbnail">
                                            <a routerLink="/eventdetail/{{event.id}}" class="thumbnail-img">
                                                <img [src]="event.banner">
                                            </a>
                                            <span class="bookmark-icon" title="Bookmark"></span>
                                        </div>
                                        <div class="event-content">
                                            <a routerLink="/eventdetail/{{event.id}}"
                                                class="event-title">{{event.name}}</a>
                                            <div class="duration-price-remaining">
                                                <span class="duration-price">USD ${{event.price}}</span>
                                                <span class="remaining"></span>
                                            </div>
                                        </div>
                                        <div class="event-footer">
                                            <div class="event-timing">
                                                <div class="publish-date">
                                                    <span><i
                                                            class="fa-solid fa-calendar-day me-2"></i>{{event.date}}</span>
                                                    <span class="dot"><i class="fa-solid fa-circle"></i></span>
                                                    <span>{{event.time}}</span>
                                                </div>
                                                <span class="publish-time"><i
                                                        class="fa-solid fa-clock me-2"></i>{{event.duration}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="browse-btn">
                                <a routerLink="/events" class="main-btn btn-hover ">Browse All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="host-engaging-event-block p-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="main-title">
                        <h3>Host Engaging Online and Venue Events with Barren</h3>
                        <p>Organise venue events and host online events with unlimited possibilities using our
                            built-in virtual event platform. Build a unique event experience for you and your
                            attendees.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="engaging-block">
                        <div class="owl-carousel engaging-slider owl-theme">
                            <div class="item">
                                <div class="main-card">
                                    <div class="host-item">
                                        <div class="host-img">
                                            <img src="../../assets/images/icons/venue-events.png" alt="">
                                        </div>
                                        <h4>Venue Events</h4>
                                        <p>Create outstanding event page for your venue events, attract attendees
                                            and sell more tickets.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main-card">
                                    <div class="host-item">
                                        <div class="host-img">
                                            <img src="../../assets/images/icons/webinar.png" alt="">
                                        </div>
                                        <h4>Webinar</h4>
                                        <p>Webinars tend to be one-way events. Barren helps to make them more
                                            engaging.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main-card">
                                    <div class="host-item">
                                        <div class="host-img">
                                            <img src="../../assets/images/icons/training-workshop.png" alt="">
                                        </div>
                                        <h4>Training & Workshop </h4>
                                        <p>Create and host profitable workshops and training sessions online, sell
                                            tickets and earn money.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main-card">
                                    <div class="host-item">
                                        <div class="host-img">
                                            <img src="../../assets/images/icons/online-class.png" alt="">
                                        </div>
                                        <h4>Online Class</h4>
                                        <p>Try our e-learning template to create a fantastic e-learning event page
                                            and drive engagement. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main-card">
                                    <div class="host-item">
                                        <div class="host-img">
                                            <img src="../../assets/images/icons/talk-show.png" alt="">
                                        </div>
                                        <h4>Talk Show</h4>
                                        <p>Use our intuitive built-in event template to create and host an engaging
                                            Talk Show.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-block p-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="main-title">
                        <h3>No Feature Overload, Get Exactly What You Need</h3>
                        <p>As well as being the most affordable online-based event registration tool and one of the
                            best online event ticketing systems in Australia, Barren is super easy-to-use and built
                            with a simplistic layout which is totally convenient for the organisers to operate.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="feature-group-list">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-1.png" alt="">
                                    </div>
                                    <h4>Online Events</h4>
                                    <p>Built-in video conferencing platform to save you time and cost.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-2.png" alt="">
                                    </div>
                                    <h4>Venue Event</h4>
                                    <p>Easy-to-use features to create and manage your venue events.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-3.png" alt="">
                                    </div>
                                    <h4>Engaging Event Page</h4>
                                    <p>Create engaging event pages with your logo and our hero image collage
                                        gallery.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-4.png" alt="">
                                    </div>
                                    <h4>Marketing Automation</h4>
                                    <p>Use our marketing automation tools to promote your events on social media and
                                        email.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-5.png" alt="">
                                    </div>
                                    <h4>Sell Tickets</h4>
                                    <p>Start monetising your online and venue events, sell unlimited* tickets.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-6.png" alt="">
                                    </div>
                                    <h4>Networking</h4>
                                    <p>Engage your attendees with the speakers using our interactive tools and build
                                        your own network.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-7.png" alt="">
                                    </div>
                                    <h4>Recording</h4>
                                    <p>Securely record your online events and save on the cloud of your choice*.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-8.png" alt="">
                                    </div>
                                    <h4>Live Streaming</h4>
                                    <p>Livestream your online events on Facebook, YouTube and other social networks.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-9.png" alt="">
                                    </div>
                                    <h4>Engagement Metrics</h4>
                                    <p>Track your event engagement metrics like visitors, ticket sales, etc. from
                                        your dashboard.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-10.png" alt="">
                                    </div>
                                    <h4>Security & Support</h4>
                                    <p>Secure data and payment processing backed by a team eager to see you succeed.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-11.png" alt="">
                                    </div>
                                    <h4>Reports & Analytics</h4>
                                    <p>Get useful reports and insights to boost your sales and marketing activities.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="feature-item mt-46">
                                    <div class="feature-icon">
                                        <img src="../../assets/images/icons/feature-icon-12.png" alt="">
                                    </div>
                                    <h4>Mobile & Desktop App</h4>
                                    <p>Stay on top of things, manage and monitor your events using the organiser
                                        app.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-organisations-block p-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-title text-center">
                        <h3>321+ events created by thousands of organisations around the globe</h3>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="organisations-area">
                        <div class="owl-carousel organisations-slider owl-theme">
                            <div class="item">
                                <div class="sponsor">
                                    <a href="#"><img src="../../assets/images/icons/sponsor-1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sponsor">
                                    <a href="#"><img src="../../assets/images/icons/sponsor-2.png" alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sponsor">
                                    <a href="#"><img src="../../assets/images/icons/sponsor-3.png" alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sponsor">
                                    <a href="#"><img src="../../assets/images/icons/sponsor-4.png" alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sponsor">
                                    <a href="#"><img src="../../assets/images/icons/sponsor-5.png" alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sponsor">
                                    <a href="#"><img src="../../assets/images/icons/sponsor-6.png" alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sponsor">
                                    <a href="#"><img src="../../assets/images/icons/sponsor-7.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>